body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.title {
    height: 300px;
    width: 100%;
    background: linear-gradient(to left top, rgb(66, 66, 173), rgb(8, 150, 100));
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: white;
    font-size: 40px;
}

/* box */
.wrap {
    margin-top: 100px;
    margin-bottom: 50px;
}

.wrap .row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.wrap .row div {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2),
        -20px -20px 30px rgb(255, 255, 255);
    transition: all 0.2s;
    cursor: pointer;
}

.wrap .row div:hover {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 0 rgba(255, 255, 255, 0.4),
        inset 18px 18px 30px rgba(0, 0, 0, 0.1),
        inset -18px -18px 30px rgb(255, 255, 255);
}